body {
    font-size: 14px;
}
.navbar img {
    height: 40px; /* Adjust the height as needed */
}

.navbar {
    margin-bottom: 10px; /* Atur jarak bawah dari elemen <nav> */
}

/* play button */
/* #play-button {
    
} */

/* audio */
#audio-player {
    display: none;
}

.features-jkn {
    margin-top: 20px; /* Atur jarak atas dari elemen <div> */
    margin-bottom: 2.1em; /* Atur jarak bawah dari elemen <nav> */
}

/* button-audio */
.custom-button {
    font-size: 10px; /* Mengganti ukuran font */
    padding: 4px 8px; /* Mengganti padding (tinggi x lebar) */
    background-color: #0468aa8e; /* Mengubah warna latar belakang */
    color: #fff; /* Mengubah warna teks */
    border: none; /* Menghilangkan border */
    border-radius: 4px; /* Memberi sudut melengkung pada tombol */
    cursor: pointer; /* Menjadikan kursor tangan saat mengarah ke tombol */
  }
  
  .custom-button:hover {
    background-color: #1290e4; /* Mengubah warna latar belakang saat dihover */
  }

  
.badge-populer {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #B31312; 
    color: #fff; 
    font-size: 12px; 
    padding: 4px 8px; 
    border-radius: 4px; 
    z-index: 1;
  }

/* Common styles for the slider switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Adjust the bell icon style */
.bell-icon {
    width: 24px; /* Set the desired width */
    height: 24px; /* Set the desired height */
    margin-right: 20px;
}
  
.carousel-item img {
    display: inline-block;
    background-size: cover;
}
  
.carousel-item img {
    margin-bottom: 10px;
}


/* footer */
footer {
    margin-top: 20px;
    text-align: center;
}