{% extends 'main/base.html' %}
{% load custom_filters %}

{% load static %}
{% block content %}
    <button class="btn btn-primary" onclick="goBack()">Back to Menu List {{ submenu.submenu_name }}</button>
    
    {% for detail in detail_submenu %}
        <p>Nama title detail: {{ detail.title }}</p>
        
        {% if detail.title == 'Peserta' %}
            <button type="button" class="btn btn-success play" data-bs-toggle="modal" data-bs-target="#modalDetailSubMenuTranslation" data-translation="{{ detail.translation }}" data-menu-id="{{ detail.menu_id }}" data-menu-name="{{ detail.menu_name }}">Play</button>
        {% elif detail.title == 'Faskes Tingkat Pertama' %}
            <button type="button" class="btn btn-success play" data-bs-toggle="modal" data-bs-target="#modalDetailSubMenuTranslation" data-translation="{{ detail.translation }}" data-menu-id="{{ detail.menu_id }}" data-menu-name="{{ detail.menu_name }}">Play</button>
        {% endif %}
    {% endfor %}

{% endblock content %}
