{% extends 'main/base.html' %}
{% load custom_filters %}

{% load static %}
{% block content %}

<div class="container container-w480">

  <nav class="navbar">
    <div class="navbar-custom-container">
      <img class="navbar-img" src="{% static '/images/image-444.png' %}" alt="Navbar Image" />
      <div class="container text-center">
        <div class="img-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M13.0666 4.26375L6.43395 10.8964L5.58039 11.75H6.7875H21.5V13.25H6.7875H5.58192L6.43363 14.1032L13.0557 20.7372L12 21.7929L2.70711 12.5L12.0012 3.20586L13.0666 4.26375Z" fill="#FAFAFA" stroke="#FAFAFA"/>
          </svg>
        </div>
        <div class="img-text1">Fasilitas Kesehatan Tingkat Pertama</div>
      </div>
    </div>
  </nav>

</div>


{% endblock content %}
