{% extends 'main/base.html' %}
{% load custom_filters %}

{% load static %}
{% block content %}
    <div class="container container-w480">
        <nav class="navbar">
            <div class="navbar-custom-container position-relative">
                <img class="navbar-img" src="{% static '/images/navbar-image.png' %}" alt="Navbar Image" />
                <div class="navbar-body position-absolute row">
                    <div class="col-md-6">
                        <div class="navbar-body-text">v4.5.0</div>
                    </div>
                    <div class="col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" fill="none">
                            <path d="M4 10.647C3.99927 8.98479 4.51631 7.36365 5.47927 6.00882C6.44223 4.65398 7.80329 3.63274 9.37333 3.08698C9.31253 2.70606 9.33510 2.31649 9.43947 1.94513C9.54384 1.57378 9.72754 1.22949 9.97788 0.936022C10.2282 0.642551 10.5393 0.406886 10.8895 0.245286C11.2398 0.0836868 11.6209 0 12.0067 0C12.3924 0 12.7736 0.0836868 13.1238 0.245286C13.4741 0.406886 13.7851 0.642551 14.0355 0.936022C14.2858 1.22949 14.4695 1.57378 14.5739 1.94513C14.6782 2.31649 14.7008 2.70606 14.64 3.08698C16.2076 3.63497 17.5657 4.65717 18.5262 6.01182C19.4866 7.36647 20.0017 8.98641 20 10.647V18.647L24 21.3137V22.647H0V21.3137L4 18.647V10.647ZM14.6667 23.9803C14.6667 24.6876 14.3857 25.3658 13.8856 25.8659C13.3855 26.366 12.7072 26.647 12 26.647C11.2928 26.647 10.6145 26.366 10.1144 25.8659C9.61429 25.3658 9.33333 24.6876 9.33333 23.9803H14.6667Z" fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>
        </nav>

        <div class="mx-auto text-center user-information">
            <div class="d-md-flex align-items-center justify-content-center">
                <div class="col-md-4 text-md-center mb-3 mb-md-0">
                    <span class="greeting-text">Hi, Hidayat</span> 
                    <img src="{% static '/images/mask-group.svg' %}" alt="badge verified" class="badge-verified" />
                </div>
                <div class="container-voice-care col-md-8">
                    <div class="border-line-blue">
                        <div class="title-voice-care">Voice Care</div>
                        <div class="row">
                            <div class="col-md-9">
                                <form method="get" class="mb-2">
                                    <div class="input-group dropdown-language">
                                        <select class="form-select" id="languageSelect" name="language" {% if not is_toggle_on %}disabled{% endif %} selectpicker> 
                                            <option value="Default" disabled>
                                                Pilih
                                            </option>
                                            {% for language in languages %}
                                                <option value="{{ language.code }}" {% if language.code == selected_language %}selected{% endif %}>
                                                    {{ language.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="toggle-switch col-md-3">
                                <label class="switch">
                                    <input type="checkbox" id="toggleSwitch" {% if is_toggle_on %}checked{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mx-auto text-center mt-4">
            <div class="d-md-flex align-items-center justify-content-center">
                <div class="row menu-list justify-content-center">
                {% for menu_name, translation in menu_translations.items %}
                {% for menu in menus %}
                    {% if menu.menu_name == menu_name %}
                    <div class="col-md-3 mb-3">
                        <div class="card-body text-center">
                            <button type="button" class="btn play" data-bs-toggle="popover" data-bs-placement="top" title="{{menu_name}}" data-bs-content="{{ translation }}" data-menu-id="{{ menu.menu_id }}" data-menu-name="{{ menu.menu_name }}"><i class="fas fa-play"></i> Putar</button>
                            {% if menu.detail_url %}
                                <!-- If the menu has a detail URL and more than 0 submenus, display the submenu anchor. -->
                                {% if menu.submenus.count > 0 %}
                                    <a href="" class="open-submenu" data-bs-toggle="modal" data-bs-target="#submenu-{{ menu.menu_id }}" data-submenu-id="{{ menu.menu_id }}"><img src="{{ menu.image_url }}" alt="{{ menu.menu_name }}"></a>
                                    {% else %}
                                    <a href="{% url 'menu_detail' detail_url=menu.detail_url %}"><img src="{{ menu.image_url }}" alt="{{ menu.menu_name }}"></a>
                                    {% endif %}
                                    {% else %}
                                    <a href="{% url 'notfound' %}"><img src="{{ menu.image_url }}" alt="{{ menu.menu_name }}"></a>
                                    {% endif %}
                            <p class="card-text">{{ menu_name }}</p>
                        </div>
                    </div>
                    <!-- Modal submenu -->
                    <div class="modal fade from-bottom modal-center submenu" id="submenu-{{ menu.menu_id }}" tabindex="-1" aria-labelledby="modalSubmenuLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content d-md-flex align-items-center justify-content-center">
                            <div class="modal-header text-center">
                            <h5 class="modal-title" id="modalSubmenuLabel">Pilih Jenis Fasilitas Kesehatan</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row row-submenu">
                                     {% for submenu in menu.submenus.all %}
                                    <div class="col-md-6">
                                        {% with submenu_translations|get_subtranslation:submenu.submenu_name as submenu_translation %}
                                        <p class="translation" hidden>{{ submenu_translation|default:"Mohon maaf pada menu ini masih belum tersedia JKN Voice Care"|safe }}</p>
                                        <button type="button" class="btn play" data-bs-toggle="popover" data-bs-placement="top" title="{{submenu.submenu_name}}" data-bs-content="{{ submenu_translation }}" data-menu-id="{{ submenu.submenu_name }}" data-menu-name="{{ submenu.submenu_name }}"><i class="fas fa-play"></i> Putar</button>
                                        {% endwith %}
                                        {% if submenu.detail_url %}
                                        <div class="card-border card-submenu d-flex justify-content-center align-items-center flex-column text-center">
                                             <a href="{% url 'submenu_detail' detail_url=submenu.detail_url %}?language={{ selected_language }}"><img src="{{ submenu.image_url }}" alt="{{ submenu.submenu_name }}"></a>
                                            <span class="border-blue"></span>
                                            <p class="title-sub-menu">{{ submenu.submenu_name }}</p>
                                        </div>
                                        {% else %}
                                        <div class="card-border card-submenu d-flex justify-content-center align-items-center flex-column text-center">
                                            <a href="{% url 'notfound' %}?language={{ selected_language }}"><img src="{{ submenu.image_url }}" alt="{{ submenu.submenu_name }}"></a>
                                            <span class="border-blue"></span>
                                            <p class="title-sub-menu">{{ submenu.submenu_name }}</p>
                                        </div>
                                        {% endif %}

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--End Modal submenu -->
                    {% endif %}
                {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>   
             
        <audio id="audioPlayer"></audio>

        <!-- layout article -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static '/images/carousel(1).png' %}" class="d-block w-90" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static '/images/carousel(2).png' %}" class="d-block w-90" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static '/images/carousel(3).png' %}" class="d-block w-90" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <!-- End layout article -->


        <!-- Layout menu -->
        <div class="container">
            <div class="row bottom-bar">
            <div class="col icon-menu">
                <i class="bi bi-house-door-fill" onclick="change(this)"></i>
                <p>Beranda</p>
            </div>
            <div class="col icon-menu">
                <i class="bi bi-file-text-fill" onclick="change(this)"></i>
                <p>Berita</p>
            </div>
            <div class="col icon-menu">
                <i class="bi bi-credit-card-fill icon active" onclick="change(this)"></i>
                <p>Kartu</p>
            </div>
            <div class="col icon-menu">
                <i class="bi bi-chat-left-dots-fill" onclick="change(this)"></i>
                <p>FAQ</p>
            </div>
            <div class="col icon-menu">
                <i class="bi bi-person-circle" onclick="change(this)"></i>
                <p>Profil</p>
            </div>      
            </div>
        </div>
        <!-- End Layout menu -->
    </div>
{% endblock content %}
