{% extends 'main/base.html' %}
{% load custom_filters %}

{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Language Translator</h1>

        <form method="get" class="mb-4">
            <div class="input-group">
                <select class="form-select" id="languageSelect" name="language" {% if not is_toggle_on %}disabled{% endif %}>
                    <option value="Default" disabled>
                            Pilih Bahasa
                    </option>
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == selected_language %}selected{% endif %}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="toggleSwitch" {% if is_toggle_on %}checked{% endif %}>
            <label class="form-check-label" for="toggleSwitch">Toggle On/Off</label>
        </div>

        {% for menu_name, translation in menu_translations.items %}
        <div class="card">
            <div class="card-body">
                <p class="translation" hidden>{{ translation|default:"Translation not available"|safe }}</p>
                {% for menu in menus %}
                {% if menu.menu_name == menu_name %}
                <button type="button" class="btn btn-success play" data-bs-toggle="modal" data-bs-target="#modaltranslation" data-translation="{{ translation }}" data-menu-id="{{ menu.menu_id }}" data-menu-name="{{ menu.menu_name }}"style="display: none;">Play</button>
                <a href=""  class="btn btn-success play" data-bs-toggle="modal" data-bs-target="#modalSubmenu">Open submenu</a>
                <img src="{{ menu.image_url }}" alt="{{ menu.menu_name }}">
                {% endif %}
                {% endfor %}
                <h5 class="card-title">{{ menu_name }}</h5>
            </div>
        </div>
        {% endfor %}

        <!-- Modal submenu -->
        <div class="modal fade" id="modalSubmenu" tabindex="-1" aria-labelledby="modalSubmenuLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSubmenuLabel">Sub menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <ul>
                               {% if selected_menu_id %}
                                <h2>Menu ID: {{ selected_menu_id }}</h2>
                                <ul>
                                    {% for submenu in menu_submenus|dict_lookup:selected_menu_id %}
                                    <li>{{ submenu.submenu_name }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>No menu selected.</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        <!-- Modal -->
        <div class="modal fade" id="modaltranslation" tabindex="-1" aria-labelledby="modaltranslationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modaltranslationLabel">Translation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="translationContent"></p>
                        <audio id="audioPlayer"></audio>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                        <a href="#" class="btn btn-primary buka-menu-button">Buka menu</a>
                    </div>
                </div>
            </div>
        </div>



{% endblock content %}
