body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.media {
  width: 480px;
  height: 1306px;
  background: white;
  overflow: auto;
  position: relative;
}

.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar img {
  width: auto;
  height: auto;
}

.navbar-body {
  color: white;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
  z-index: 1;
  margin-top: -30px;
}



.navbar-body-text {
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
}