.media {
  width: 480px;
  height: 1306px;
  background: white;
  overflow: auto;
}

.navbar{
  width: 497.87px; 
  height: 120px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

.navbar .img1 {
  width: 497.87px; height: 84.26px; left: 0px; top: 0px; position: absolute
}

.navbar .img2 {
  width: 497.87px; height: 105.96px; left: 0px; top: 14.04px; position: absolute
}

.navbar-custom-container{
  width: 497.87px; 
  height: 120px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

.navbar-body {
  width: 85px; 
  height: 26.65px; 
  left: 359px; 
  top: 29px; 
  position: absolute; 
  justify-content: center; 
  align-items: center; 
  gap: 16px; 
  display: inline-flex;
}

.navbar-body-text {
  text-align: center; color: white; font-size: 14px; font-family: Poppins; font-weight: 700; line-height: 21px; word-wrap: break-word;
}

.informasi-pengguna {
  width: 409px; 
  padding-left: 12px; 
  padding-right: 12px; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  left: 36px; 
  top: 128px; 
  position: absolute;
  background: white; 
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.20); 
  border-radius: 12px; 
  overflow: hidden; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 74px; 
  display: inline-flex;
}

.informasi-pengguna .container {
  flex: 1 1 0; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 4px; 
  display: inline-flex;
}

.informasi-pengguna .greeting {
  justify-content: center; 
  align-items: center; 
  gap: 8px; 
  display: inline-flex;
}

.informasi-pengguna .greeting-text {
  color: black; 
  font-size: 16px; 
  font-family: Poppins; 
  font-weight: 700; 
  word-wrap: break-word;
}

.informasi-pengguna .icon-container {
  width: 18px; 
  height: 18px; 
  position: relative;
}

.informasi-pengguna .icon-circle {
  width: 18px; 
  height: 18px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

.informasi-pengguna .circle-outer {
  width: 18px; 
  height: 18px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: white; 
  border: 0.90px white solid;
}

.informasi-pengguna .circle-inner {
  width: 8.10px; 
  height: 5.40px; 
  left: 5.40px; 
  top: 6.30px; 
  position: absolute; 
  border: 0.90px black solid;
}

.informasi-pengguna .arrow {
  width: 21.60px; 
  height: 21.60px; 
  left: -1.80px; 
  top: -1.80px; 
  position: absolute; 
  background: #8EBE5B;
}

.informasi-pengguna .content {
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 6px; 
  padding-bottom: 6px; 
  border-radius: 8px; 
  border: 0.50px #06B6D4 solid; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px; 
  display: inline-flex;
}

.informasi-pengguna .topic-text {
  color: #06B6D4; 
  font-size: 16px; 
  font-family: Poppins; 
  font-weight: 600; 
  word-wrap: break-word;
}


.informasi-pengguna .badge {
  justify-content: center; 
  align-items: center; 
  gap: 12px; 
  display: inline-flex;
}

.informasi-pengguna .badge-inner {
  padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; background: #06B6D4; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 4px; display: flex;
}

.informasi-pengguna .badge-text {
  color: #FAFAFA; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px; word-wrap: break-word;
}

.informasi-pengguna .badge-icon {
  width: 16px; height: 16px; position: relative; background-color: transparent; border: none;
}

.informasi-pengguna .badge-icon-inner {
  width: 12px; height: 7.20px; left: 2px; top: 4px; position: absolute; background: #FAFAFA;
}


/* Toogle */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0891B2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0891B2; 
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 9999px; 
}

.slider.round:before {
  border-radius: 50%;
}



/* ini bagian popup antrean */
.popupantrean {
  display: none;
}

.popupantrean.active .informasi-pengguna .navbar {
  position: unset;
}

.popupantrean.active {
  width: 498px;
  height: 1306px;
}

.popup-container {
  position: absolute;
  background-color: rgb(253, 250, 250);
  top: 309px;
  margin-left: 150px;
  z-index: 1;
}

.popup-title {
  width: 300px; height: 37px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #FAFAFA; border-top-left-radius: 8px; border-top-right-radius: 8px; justify-content: flex-start; align-items: center; display: inline-flex
}

.popupantrean .title-text {
  flex: 1 1 0; text-align: center; color: #171717; font-size: 14px; font-family: Poppins; font-weight: 600; line-height: 21px; word-wrap: break-word
}

.popupantrean .popup-description {
  width: 280px; color: #171717; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word
}

.popupantrean .tutup-selanjutnya {
  width: 300px; height: 40px; padding-top: 4px; padding-bottom: 10px; padding-left: 16px; padding-right: 16px; background: #FAFAFA; border-top-left-radius: 8px; border-top-right-radius: 8px; justify-content: center; align-items: center; gap: 18px; display: inline-flex
}

.popupantrean .tutup {
  height: 26px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; border-radius: 4px; overflow: hidden; border: 0.50px #A3A3A3 solid; justify-content: center; align-items: center; gap: 4px; display: flex
}

.popupantrean .inner-tutup {
  color: #171717; font-size: 12px; font-family: Poppins; font-weight: 500; line-height: 18px; word-wrap: break-word
}

.popupantrean .selanjutnya {
  padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; background: #16A34A; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 4px; display: flex
}

.popupantrean .inner-selanjutnya {
  text-align: center; color: #FAFAFA; font-size: 12px; font-family: Poppins; font-weight: 500; line-height: 18px; word-wrap: break-word;
}

.transparent-row {
  background-color: transparent; /* Atur latar belakang menjadi transparent */
}

/* ini css bagian menu  */
.menu-item{
  left: 35px; top: 257px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 14px; display: inline-flex;
}

.menu-item1{
  left: 35px; top: 460px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 14px; display: inline-flex
}

.menu-item2{
  left: 35px; top: 680px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 14px; display: inline-flex
}

.menu-item-content{
  margin-right: 26px; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex;
}

:root {
  --menu-icon-active-background: #06B6D4; /* Warna latar belakang aktif */
  --menu-icon-inactive-background:  #06B6D4; /* Warna latar belakang nonaktif */
  --menu-icon-active-border: #0891B2; /* Warna border aktif */
}

.menu-icon {
  height: 25px;
  padding: 2px 15px;
  background: var(--menu-icon-inactive-background);
  border-radius: 12px;
  border: 0.5px solid var(--menu-icon-inactive-border);
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}


.menu .custom-button {
  display: none;
  background: none; 
  border: none; 
  padding: 4px 8px; 
  font-size: 12px;
}


.menu .info-card {
  margin-right: 30px; justify-content: flex-start; align-items: flex-start; gap: 35px; display: inline-flex;
}

.menu .info-card-image {
  width: 80px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex;
}

.menu .info-card-bg {
  align-self: stretch; height: 80px; position: relative;
}

.menu .info-card-avatar {
  width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px;
}

.menu .info-card-details {
  width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; border-radius: 51.50px;
}

.menu .info-card-title {
  width: 87px; text-align: center; color: black; font-size: 13px; font-family: Poppins; font-weight: 400; line-height: 19.50px; word-wrap: break-word;
}

/* ini css bagian gambar */
.image-container {
  width: 480px;
  left: 0px;
  top: 879px;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  display: inline-flex;
}

.image-container .image1 {
  width: 322px; /* Ubah nilai lebar sesuai yang Anda inginkan */
  height: 196px; /* Ubah nilai tinggi sesuai yang Anda inginkan */
}

.image-container .image2 {
  width: 350px; /* Ubah nilai lebar sesuai yang Anda inginkan */
  height: 207px; /* Ubah nilai tinggi sesuai yang Anda inginkan */
}

.image-container .image3 {
  width: 322px; /* Ubah nilai lebar sesuai yang Anda inginkan */
  height: 196px; /* Ubah nilai tinggi sesuai yang Anda inginkan */
}


/* ini css untuk footer */
.site-footer {
  width: 480px; 
  left: 0px; 
  top: 1198px; 
  bottom: 0; 
  position: absolute; 
  justify-content: center; 
  align-items: flex-end; 
  display: inline-flex;
  bottom: 0;
  z-index: 1;
}

.footer-menu-item {
  flex: 1 1 0; 
  height: 69px; 
  padding-left: 16px; 
  padding-top: 8px; padding-bottom: 8px; background: white; border-top: 0.50px #A3A3A3 solid; justify-content: center; align-items: center; gap: 50px; display: flex;
}

.home-icon{
  flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.footer-menu-text {
  color: #0D85BC; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word;
}

.footer-menu-text1 {
  color: #737373; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word;
}

/* popup fasilitas kesehatan */
.container-fasilitas-kesehatan {
  width: 486px;
  height: 270px;
  top: 921px;
  background: rgb(82, 73, 73);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.fasilitas-kesehatan-text {
  margin-left: 130px;
  margin-top: 10px;
}

.custom-margin {
  margin-left: 27px;
  margin-top: 8px;
}